<h2>Create A New Item</h2>

 <%= form_for(@item) do |f| %>
    <%= f.hidden_field :category_id, :value => params[:category_id] %>
    <%= f.label :item_name %>
    <%= f.text_field :item_name %><br><br>
    <%= f.label :item_description %>
    <%= f.text_field :item_description %><br><br>
    <%= f.label :item_price %>
    <%= f.text_field :item_price %><br><br>
    <%= f.submit 'Create Item', :class => '' %>
    <% end %>




